header{
  position: fixed;
  width: 100%; 
  z-index: 100;
}
.header{
  box-shadow: 0px 0px 1px 0px ;
  padding: 0 100px;
  /* background-color: red; */
  background-color: white;
  display: flex ;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.wait-icon{
  display: none;
}
.head{
  font-size: x-large;
  color: #fd7e14;
  cursor: pointer;
  margin-right: 40px;
}
.head-part{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heads{
  color: #fd7e14;
  font-size: large;
  cursor: pointer;
  /* background-color: blue; */
}
.about{
  cursor: pointer;
  /* width: 200px; */
  font-size: large;
  height: 65px;
  text-align: center;
  /* background-color: red; */
  padding-left: 20px;
  padding-right: 20px;
  /* width: 200px; */
}
.span{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 65px;
  
}
.about:hover{
  color: #fd7e14;
}
.we:hover .us{
  display: block;
  background-color: white;
}
.us{
  display: none;
}
.you{
  height: 50px;
  border: red solid 0px;
  /* width: 100%; */

}
.you:hover{
  background-color: lightgray;
}
.blog{
  cursor: pointer;
  font-size: large;
  margin-right: 40px;
}
.blog:hover{
  color: #fd7e14;
}
.contact{
  cursor: pointer;
  font-size: large;
  margin-right: 40px;
  color: black;
}
.contact:hover{
  color: #fd7e14;
}
.twitter{
  cursor: pointer;
  font-size: large;
  margin-right: 40px;
  color: black;
}
.twitter:hover{
  color: #fd7e14;
}
.facebook{
  cursor: pointer;
  font-size: large;
  margin-right: 40px;
  color: black;
}
.facebook:hover{
  color: #fd7e14;
}
.in{
  cursor: pointer;
  font-size: large;
  margin-right: 40px;
  color: black;
}
.in:hover{
  color: #fd7e14;
}
