.header{
  padding: 0 170px;
  height: 65px;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head{
  font-size: xx-large;
  color: #fd7e14;
  cursor: pointer;
}
.heads{
  color: #fd7e14;
  font-size: larger;
  cursor: pointer;
}
.about{
  cursor: pointer;
  width: 70px;
  font-size: larger;
}
.about:hover{
  color: #fd7e14;
}
.blog{
  cursor: pointer;
  font-size: larger;
}
.blog:hover{
  color: #fd7e14;
}