header{
  position: fixed;
  width: 100%;
}
.header{
  padding: 0 170px;
  height: 65px;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head{
  font-size: xx-large;
  color: #fd7e14;
  cursor: pointer;
  margin-right: 540px;
}
.heads{
  color: #fd7e14;
  font-size: x-large;
  margin-right: 40px;
  cursor: pointer;
}
.about{
  cursor: pointer;
  width: 70px;
  font-size: x-large;
  margin-right: 40px;
  height: 50px;
}
.about:hover{
  color: #fd7e14;
  border-bottom-color: red;
}
.we:hover .us{
  /* display: block; */
  background-color: white;
  border-top: red;
}
.us{
  display: none;
  /* height: 2px; */
}
.you{
  
}
.blog{
  cursor: pointer;
  font-size: x-large;
  margin-right: 40px;
}
.blog:hover{
  color: #fd7e14;
}
.contact{
  cursor: pointer;
  font-size: x-large;
  margin-right: 40px;
  color: black;
}
.contact:hover{
  color: #fd7e14;
}
.twitter{
  cursor: pointer;
  font-size: x-large;
  margin-right: 40px;
  color: black;
}
.twitter:hover{
  color: #fd7e14;
}
.in{
  cursor: pointer;
  font-size: x-large;
  margin-right: 40px;
  color: black;
}
.in:hover{
  color: #fd7e14;
}