.bank{
  display: grid;
  height: 100vh;
  background-image: url(../imgs/hero_2.jpg.webp);
}
.banks{
  background: #B8B2A6B3;
  display: grid;
  text-align: center;
  place-content: center;
}
.banking{
  color: white;
  font-size: 70px;
  font-weight: 400;
  font-family: open sans;
  cursor: none;
}
.lorem{
  color: white;
  font-size: x-large;
  width: 900px;
  cursor: none;
}
.dots{
  color: lightgrey;
  font-size: 50px;
  margin-bottom: 100px;
}
.dot{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 20px;
  border-radius: 25%;
  color: white;
  font-size: 70px;
  border-color: white;
}
.dut{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}