.bank{
  display: grid;
  height: 100vh;
  background-image: url(../imgs/hero_2.jpg.webp);
}
.banks{
  background: #B8B2A6B3;
  display: grid;
  text-align: center;
  place-content: center;
}
.banking{
  color: white;
  font-size: 70px;
  font-weight: 400;
  font-family: open sans;
  cursor: none;
}
.lorem{
  color: white;
  font-size: x-large;
  width: 900px;
  cursor: none;
}
.dots{
  color: lightgrey;
  font-size: 50px;
  margin-bottom: 100px;
}
/* .dot{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 20px;
  color: white;
  font-size: 70px;
  border: solid red 25%;
}
.dut{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.imgs{
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between ; */
  padding: 10px 90px;
  /* width: 100%; */
}
.wallet{
  font-size: 100px;
  text-align: center;
}
.wallets{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: 50px;
  width: 320px;
}

.wallet-wd{
  text-align: center;
  font-size: xx-large;
}
.wallet-wds{
  font-size: large;
  color: #808080;
}